.login-container{
    width: 30%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 0 8px 3px rgb(228, 227, 227);
}
.login-container form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
input{
    padding: 12px;
    margin-bottom: 0.5rem;
    border: 1px solid #333;
    outline: none;
    border-radius: 3px;
    font-size: 1rem;
}
input[type="submit"]{
    cursor: pointer;
}